body {
    padding-left: 20px;
}

.selector {
    display: grid;
    margin: 20px 0 0 0;
    grid-template-columns: 6fr 3fr 3fr 24fr;
    grid-gap: 20px;
    min-width: 1200px;
}

.selector label {
    margin: 0;
}

.selector select {
    margin: 0;
}

.selector p {
    margin: 0;
}

.selector input {
    margin: 0;
}

.button {
    margin: 20px 0 0 0;
    width: 100%;
}

.button input {
    width: 50%;
    margin: 0;
    min-width: 300px;
}

td {
    border: 1px solid black;
    padding: 5px;
}